#menu ul { display:inline-block; }
#menu ul li { display:inline; }
#menu ul a { display:inline-block; }



label span {
	float:left;
	display:inline;
	width:30%;
	pading:.2em .3em .2em 0;
}
label span.text {
	float:none;
	display:inline;
	width:auto;
	padding:auto;
}
input {
	background:#111;
	color:#bbb;
	border:solid #333 1px;
	padding:.2em;
	width:70%;
}
input.cbox, input.button, input.submit {
	width:auto;
}
input.cbox {
	background:auto;
	border:none;
	padding:0;
}

input:focus {
	color:#fff;
	border:solid #777 1px;
}
select:focus, textarea:focus, input:focus {
	background:#222;
	color:#fff;
	border:solid #777 1px;
}
button:active, input:active {
	background:#555;
}

.stacked label span {
	float:none;
	display:inline;
	padding:0 0 0 .3em;
}
.stacked input {
	width:4em;
}
.stacked input.cbox, .stacked input.button, .stacked input.submit {
	width:auto;
}
.stacked input.cbox {
	background:auto;
	border:none;
}
