
.clear {
	clear:both;
	padding-bottom:1px;
	margin-bottom:-1px;
}
.hide {
	display:none !important;
}
.ho {
	overflow:hidden;
}

img {
	border:0;
}
body {
	margin:0;
	padding:.5em 1em;
	font:95%/100% Arial, sans-serif;
	background:#000;
	color:#fff;
}
p#copy {
	text-align:right;
	padding:0 .5em;
}

a[name] {
	display:none;
}

a { color:#0d0; text-decoration:none; }
a:visited { color:#0d0; text-decoration:none; }
a:hover { color:#0d0; text-decoration:underline; }

.em {
	font-weight:bold;
	color:#e00;
}

/* * */
#wrap {
	position:relative;
	margin:0 auto;
	text-align:left;
	line-height:140%;
	width:33em;
	min-width:500px;
	overflow:visible;
	border-right:dotted #777 1px;
}

#logo {
	text-align:center;
	color:#bbb;
	height:4em;
	overflow:hidden;
	border-bottom:solid #333 1px;
}
#logo h1 {
	font-size:120%;
	margin:.5em 0 0;
	padding:0;
}

#menu {
	margin:0 0 2em;
	height:2.6em;
	text-align:center;
	background:#111;
	clear:both;
	text-decoration:none;
}
#menu ul {
	display:table;
	padding:0;
	margin:0 auto;
	list-style-type:none;
	white-space:nowrap;
}
#menu ul li {
	display:table-cell;
	height:1.8em;
}
#menu ul a {
	display:block;
	width:auto;
	text-align:center;
	height:1.8em;
	line-height:1.8em;
	padding:.3em 1.5em .5em;
	margin-bottom:3px;
}
#menu ul a:hover {
	background:#222;
	border-bottom:solid #0d0 3px;
	margin-bottom:0;
	text-decoration:none;
}


#left {
	text-align:left;
	position:absolute;
	top:0;
	left:-15em;
	width:14em;
}
#left h1 {
	font:bold 12pt arial;
	margin:0;
	padding:0;
}

#content {
	margin-left:-1em;
}

#content h1 {
	margin:0;
	padding:0 .5em .5em;
	font:bold 100% Verdana,Arial,Helvetica,sans;
	border-bottom:dotted #777 1px;
}

#content .block {
	display:block;
	position:relative;
	width:100%;
	padding:0;
	margin:0 0 1.5em;
	border:none;
	clear:both;
}
#content .block h2 {
	display:block;
	margin:0;
	padding:.3em .5em;
	font:bold 90% Verdana,Arial,Helvetica,sans;
	border:solid #333 1px;
	border-right:none;
	background:#111;
}
#content .block p {
	padding:0;
	margin:.5em;
}


#content .tblock {
	width:100%;
	border:none;
	border-collapse:collapse;
}

#content .tblock th {
	text-align:left;
	font-weight:normal;
	width:34%;
}

#content .tblock td, #content .tblock th {
	padding:0 .5em;
	border:dotted #333 1px;
}
#content .tblock td {
	border-width:0 0 1px 1px;
}
#content .tblock th {
	border-width:0 1px 1px 0;
}
#content .tblock tr:hover {
	background:#222;
}

#content #top {
	position:relative;
}
#content .thumb {
	position:absolute;
	display:block;
	top:0;
	left:0;
	width:95px;
	height:140px;
	margin:0;
	padding:0;
	border:dotted #777 1px;
}

#content #top .block {
	display:block;
	width:auto;
	padding-left:115px;
}


#content .name {
	font-weight:bold;
	font-size:85%;
}


#content .name, #content .tblock th, #content strong {
	color:#fff;
}
#content a.name, #content a .name {
	color:#0e0;
}
#content .block p, #content .tblock td {
	color:#bbb;
}

#content .cast {
	position:absolute;
	top:0;
	right:-16em;
	width:16em;
}
#content .cast dl {
	margin:.1em 0 0;
	padding:0;
}
#content .cast dl dt, #content .cast dl dd {
	margin:0;
	padding:0 .5em;
}
#content .cast dl dd {
	border-bottom:dotted #777 1px;
}



#content ul.actions {
	display:block;
	height:2em;
	margin:0 0 .5em;
	padding:0;
	text-align:right;
	border-bottom:dotted #777 1px;
}
#content ul.actions li {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	display:inline;
	margin:0;
	padding:0;
}
#content ul.actions li a {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	display:inline;
	margin:0;
	padding:.3em .7em;
	line-height:2em;
	border:solid #333 1px;
	background:#111;
	text-decoration:none;
}
#content ul.actions li a:hover {
	background:#333;
	border-bottom:solid #0d0 3px;
	text-decoration:none;
}


/*** Feedback area ***/

.feedback {
	position:fixed;
	top:0;
	right:0;
	padding:0;
	margin:0;
	list-style:none;
	text-align:center;
}
.feedback li {
	display:block;
	margin:0;
	padding:.4em .75em;
	font-weight:bold;
	background:#111;
	color:#0d0;
	border:solid #333 1px;
}
.feedback li.error {
	background:#222;
	color:#d00;
	border:solid #d00 1px;
}

/**/

.scroll {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:100%;
	height:15em;
	overflow:auto;
	
	border:solid #333 1px;
	margin:.1em;
	padding:.2em;
}

/*** Form elements ***/
.buttons {
	margin:.5em;
	text-align:right;
}
label {
	display:block;
	clear:both;
}
label>span {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	display:inline;
	width:30%;
	pading:.2em .3em .2em 0;
}
label>span.text {
	float:none;
	display:inline;
	width:auto;
	padding:auto;
}
input[type="text"] {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:70%;
}
textarea {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:100%;
	height:6em;
}
button, select, textarea, input[type] {
	background:#111;
	color:#bbb;
	border:solid #333 1px;
	padding:.2em;
}
select {
	padding:0;
}
select:hover, textarea:hover, input[type]:hover {
	border:solid #777 1px;
}
input[type]:focus {
	color:#fff;
	border:solid #777 1px;
}
select:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus {
	background:#222;
	color:#fff;
	border:solid #777 1px;
}
button:active, input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active {
	background:#555;
}
input[type="submit"], input.submit {
	font-weight:bold;
	color:#ccc;
	border:solid #555 1px;
}

.stacked label {
	float:none;
	display:inline;
}
.stacked label>span {
	float:none;
	display:inline;
	padding:0 0 0 .3em;
}
.stacked input[type="text"] {
	width:4em;
}
.stacked {
	margin-left:30% !important;
}

